/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.bg-blur {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
}

.mainFont {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
